body {
    background-color: silver;
  }
h1{
color: black;
font-style: italic;
text-align: center;
}
h3 {
    color: olivedrab;
    text-align: center;
}
h2 {
    color: white;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.text-box {
    display: flex;
    border-left: 20px solid goldenrod;
    border-right: 20px solid goldenrod;
    border-top: 8px solid black;
    border-bottom: 8px solid black;
    padding: 30px;
    margin: 5px;
    background-color: black;
  }
@media only screen and (max-width: 1000px) {
    #images-box {
      flex-direction: column;
      align-items: center;
    }
}