body {
    background-color: silver;
  }
h1{
color: black;
font-style: italic;
text-align: center;
}
h3 {
    color: lime;
    text-align: center;
}
h2 {
    color: Black;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
#content {
    display: flex;
}
@media only screen and (max-width: 1000px) {
    #images-box {
      flex-direction: column;
      align-items: center;
    }
}